.main-page {
    .bar-wrapper {
        margin-left: 45px;
        margin-right: 45px;
        margin-top: 20vh;
        .logo-wrapper {
            text-align: center;
            img {
                width: 200px;
            }
        }
        .logo-results {
            display: none !important;
        }
        .search-bar {
            background-color: #f5f5f5;
        }
        .search-button {
            margin: 0 auto;
            button {
                background-color: #5682a3;
                color: #f5f5f5;
                margin-top: 25px;
            }
        }
    }
}

.results-page {
    .bar-wrapper {
        background-color: #f5f5f5;
        .logo-wrapper {
            display: none;
        }
        .logo-results {
            text-align: center;
            img {
                width: 100px;
            }
            @media screen and (max-width: 768px) {
                display: none !important;
            }
        }
        .search-bar {
            margin-top: 0px;
            padding-bottom: 0px;
            background-color: #f5f5f5;
            label {
                margin-bottom: 10px;
            }
            .eight {
                margin-top: 10px;
            }
            .six {
                margin-top: 10px;
            }
        }
        .search-button {
            margin: 0 auto !important;
            button {
                background-color: #5682a3;
                color: #f5f5f5;
                margin-top: 39px;
            }
        }
    }
}
