.news-wrapper {
    margin: 30px;
    .thumb {
        img {
            width: 100%;
        }
        @media screen and (max-width: 768px) {
            display: none !important;
        }
    }
    .article {
        a {
            font-weight: 700;
            font-size: 18px;
        }
        .lead-paragraph {
            margin-top: 15px;
            @media screen and (max-width: 768px) {
                display: none !important;
            }
        }
    }
    .tags {
        margin-right: 10px;
    }
}
